body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 40px;
    background-color: #023047;
    }
h1 {
    color: #FFB703;
    font-family:serif;
}
button {
    background-color: #023047;
    border-color: #FB8500;
    border-width: 3px;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: medium;
    color: #FB8500;
    border-style: solid;
    font-family: sans-serif;
}
button:hover {
    background-color:#FB8500 ;
    color:#023047 ;
    border-color: #023047;
}
#sentence {
    color: #FFB703;
    font-family: serif;
}